/* schedule item view type */
.vl10 {
    margin: 0 0 2rem;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(233,225,225,1);
    padding: 1rem;
    background-color: #FFF;
    height: calc(100% - 2rem);
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    time {
        font-size: 0.875rem;
        font-weight: bold;
    }
    .article-header {
        z-index: 3;
        bottom: 1.75rem;
        left: 2rem;
        right: 2rem;
    }
    .title {
        font-size: 1.3125rem;
        margin: 0 0 1rem;
        line-height: 1.25;
        a {
            @extend %item-title-link;
        }
    }
    .info {
        @extend %item-header-info;
        margin: 0;
        ul {
            padding-left: 1rem;
        }
    }
    .article-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 3em;
        height: 3em;
        font-size: 1rem;
        line-height: 3;
        text-align: center;
        background: $sunglow;
        color: $black;
        z-index: 3;
        pointer-events: none;
    }
    &:hover,
    &:focus {
        .image-16by9 {
            &::before {
                opacity: .75;
            }
            img {
                transform: scale(1.08);
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .article-header {
            bottom: 1.25rem;
            left: 1.5rem;
            right: 1.5rem;
        }
        .title {
            font-size: 1.25rem;
        }
    }
    @include media-breakpoint-down(sm) {
        .article-header {
            bottom: 1rem;
            left: 1.25rem;
            right: 1.25rem;
        }
        .title {
            -webkit-line-clamp: 3;
            max-height: 3.75em;
        }
        .article-icon {
            font-size: .75rem;
        }
    }
}
